.storyboard {
  &.show {
    & > * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
    }
    .sketch, .add-sketch, .handle {
      .sketch-img {
        background-size: cover;
        img {
          width: 100%;
        }
      }
    }
    .sketch {
      &.sortable-chosen {
        opacity: 0.8;
        .handle {
          cursor: move;
        }
      }
      &.sortable-ghost {
        opacity: 0;
      }
    }
  }
}